body {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  line-height: 1.2;
  font-size: 16px;
  margin: 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header nav nav"
    "main main main"
    "footer footer footer";
  min-height: 100vh;
}

header {
  padding: 5px;
  grid-area: header;
  background-color: #ffffff;
  padding-left: 10px;
  border-bottom: #000000 1px dashed;
  font-family: "Rubik Spray Paint", "Times New Roman", "Helvetica", cursive;
}

h1,
a:hover {
  color: #f98b00;
  cursor: pointer;
}

nav {
  grid-area: nav;
  background-color: #ffffff;
  border-bottom: 1px dashed;
}
nav ul {
  list-style: none;
  float: right;
  padding-top: 20px;
  padding-right: 10px;
}
nav li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 15px;
}
main {
  grid-area: main;
  background-color: #ffffff;
}

section {
  padding: 10px;
  margin: 0px;
}

article {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 10px;
}

p {
  max-width: 960px;
  line-height: 2.9;
}

#club-photo figure {
  margin: 0 auto;
}
#club-photo figure img {
  margin: 0 auto;
  max-width: 100%;
  min-height: 300px;
  max-height: 700px;
}

#club-photo figcaption {
  font-size: 12px;
  padding: 5px;
}

#about {
  background-color: #7500a4;
  padding: 10px;
  margin: 0px;
  padding-bottom: 40px;
}

#about p {
  color: #ffffff;
  padding: 10px;
}

#about article h2 {
  color: #ffffff;
  /*#C14CFF #7736d7 #d2c4e7; #e28715 D67F00
    */
}

#quote {
  background-color: #d2c4e7;
  border: solid #d67f00 2px;
}

#quote p {
  text-align: center;
}

#quote p,
#quote aside {
  color: #7736d7;
  padding-top: 40px;
}

#quote a:link {
  color: #7500a4;
}

#quote a:visited {
  color: #e88f0e;
}

#quote a:hover {
  cursor: pointer;
}
#quote a:active {
  color: #e88f0e;
  border-bottom: solid 1px;
}

#socials {
  background-color: #7500a4;
  padding: 10px;
  margin: 0px;
  padding-bottom: 40px;
  color: #d2c4e7;
}

#socials ul {
  list-style: none;
  text-align: center;
}

#socials li {
  display: inline-block;
  color: #e88f0e;
  padding: 15px;
  font-size: 18px;
}
/*
Membership page css
*/

#membership-content {
  background-image: url("/images/three-women-dancing.jpg");
  background-attachment: fixed;
  background-size: cover;
}

#membership-content section {
  background-color: rgba(0, 0, 0, 0.1);
}

#membership-content h2 {
  font-size: 25px;
  padding-top: 5px;
  color: #FFFFFF;
}

#membership-content p {
  padding-top: 40px;
  font-size: 18px;
}

/*
Events page css
*/

#events-content {
  padding: 5px;
  margin: 0px;
}
#events-content article {
  background-color: ;
  padding: 10px;
  margin: 0;
}

/*
Team page css
*/

#team-content {
  background-color: #ffffff;
  padding: 10px;
}

#team-content h3 {
  color: #7736d7;
}

#team-content article {
  display: flex;
  margin: 5px;
  color: #7736d7;
  justify-content: space-around;
}

dt {
  font-size: 19px;
}

dd{
  padding-top: 10px;
  color: #000000;
}

footer {
  grid-area: footer;
  background-color: #000000;
  color: #d2c4e7;
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 40px;
  margin: 0px;
  font-size: 12px;
}

a,
a:link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #e88f0e;
}

a:visited {
  color: E8CAFF;
}

a:focus,
a:hover {
  border-bottom: 1px solid;
}

a:active {
  color: #d2c4e7;
}

@media (max-width: 360px) {
  #socials li {
    display: block;
  }

  nav ul {
    display: block;
    font-size: 13px;
  }

  h1 {
    font-size: 20px;
  }

  header {
    display: flex;
    align-items: end;
  }

  #team-content article,
  dl {
    display: flex;
    flex-direction: column;
  }

  dl,
  dd {
    padding-top: 18px;
    text-align: center;
  }
}

